*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #202020;
}

.container {
    background-color: #EEEEEE;
    width: 80%;
    padding: 60px;
    margin: 40px 0 0 10%;
}

.container h2 {
    text-align: center;
    font-size: 80px;
}

.container .para1{
    text-align: center;
    font-size: 30px;
}

.container img{
    margin-left: 22%;
    width: 800px;
    height: 400px;
}

.container .para {
    font-size: 30px;
}

.container ul li {
    font-size: 24px;
    padding: 10px;
    margin-left: 60px;
    text-align: justify;
}